.projects {
  --_bg: var(--clr-dark-brown);

  padding: 2rem;
  background-color: var(--_bg);
  background-image: url(../../assets/bg-image/bg-image.png);
  background-size: 100%;

  .projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .projects__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      text-align: center;
    }

    .projects__title {
      --_fg: var(--clr-dark-pink);

      font-family: var(--ff-titles);
      font-size: var(--fs-70);
      font-weight: var(--fw-400);
      text-transform: uppercase;
      color: var(--_fg);
    }

    .projects__subtitle {
      --_fg: var(--clr-red);

      font-size: var(--fs-30);
      font-weight: var(--fw-700);
      color: var(--_fg);
    }

    .projects__select {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 2rem;
      padding: 0;

      .projects__project {
        --_bg: var(--clr-light-red);

        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1.75rem;
        max-width: 30rem;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 10px black;
        background-color: var(--_bg);
        transition: all 0.3s ease-in-out;

        .project__link {
          .project__img {
            border-radius: 5px;
            max-width: 100%;
            object-fit: cover;
          }
        }

        .project__text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;

          .project__name {
            font-size: var(--fs-30);
          }

          .project__desc {
            font-size: var(--fs-20);
          }

          .project__down {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .project__category {
              padding: 0.5rem 1rem;
              font-size: var(--fs-20);
              opacity: 0.7;
              border: solid 3px var(--clr-dark-red);
              border-radius: 30px;
            }

            .project__link {
              --_fg: var(--clr-dark-red);
              --_bg: var(--clr-light-red);

              display: flex;
              color: var(--_fg);
              background-color: var(--_bg);

              .icon {
                width: 2.5rem;
                height: 2.5rem;
                padding: 0.55rem;
                border: solid 3px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  --_fg-hover: var(--clr-light-red);
                  --_bg-hover: var(--clr-dark-red);
                  color: var(--_fg-hover);
                  background-color: var(--_bg-hover);
                  box-shadow: 0px 0px 10px 5px var(--_bg-hover);
                }
              }
            }
          }
        }
        &:hover {
          translate: 0 -10px;
        }
      }
    }
  }

  @media (min-width: 40rem) {
    .projects__content {
      align-items: flex-start;
      width: 100%;

      .projects__text {
        align-items: flex-start;
        text-align: left;
      }

      .projects__title {
        font-size: var(--fs-90);
      }

      .projects__select {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;
      }
    }
  }
}
