<li class="projects__project">
  <a href="{{link}}" class="project__link">
    <img src="{{img}}" alt="{{alt}}" class="project__img" />
  </a>
  <div class="project__text">
    <h4 class="project__name">{{name}}</h4>
    <p class="project__desc">{{desc}}</p>
    <div class="project__down">
      <p class="project__category">{{category}}</p>
      <a href="{{link}}" class="project__link">
        <svg class="icon arrow">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</li>
